body {
	font-family: sans-serif;
}

img {
}

.sectie {
	border: 1px solid blue;
	background-size: cover;
	padding: 30vh 3em;
}
.sectie--2 {
	color: #fff;

	background-repeat: no-repeat;
	background-image: url('https://www.venemaantiques.nl/galleries/natuur-landschap-1336617-en-max.jpg');
}

.sectie--4 {

	background-repeat: no-repeat;
	background-image: url('https://s.s-bol.com/imgbase0/imagebase3/large/FC/3/0/5/5/9200000083165503.jpg');
}

.sectie--6 {
	
	background-repeat: no-repeat;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/2e/Gerard_van_Nijmegen_-_Zwitsers_landschap_met_waterval_-_BR0468_-_Rijksmuseum_Twenthe.jpg');
}
